include ../blanks/input/input
mixin dropdown(opt={})
  - opt.class = opt.class + " input_type_drp input_type_expandable js-input_type_expandable"
  +input(opt)
    .input__placeholder.js-input__placeholder(data-value!=opt.inner_text || "")= opt.inner_text || ""
    .input__description
      ul.input__select-list.js-input__select-list(data-distinctForms!= opt.distinctForms, data-maxTotal!= opt.maxTotal, data-distinct!=opt.distinctIndex , data-commonText!= opt.commonText)
        if opt.items  
          - let n=0
            each val, key in opt.items
              li.input__list-item.js-input__list-item(data-number= n++)
                span.input__item-name.js-input__item-name(data-value!= val)= key
                .input__item-handler
                  button.input__item-button.input__item-button_type_decrease.js-input__item-button_type_decrease(disabled = val <= 0 ? true: false)= "-"
                  .input__item-value.js-input__item-value= val
                  button.input__item-button.input__item-button_type_increase.js-input__item-button_type_increase= "+"
          .input__list-controls(hidden!= opt.btnHiden === false ? false: true)
            button.input__control-button_type_submit.js-input__control-button_type_submit
              span= "Применить"
            button.input__control-button_type_clear.js-input__control-button_type_clear
              span= "Очистить"
        else
          li.input__list-item= "Данные не пришли"      